* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.custom-shape-divider-bottom-1725112114 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1725112114 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 143px;
}

.custom-shape-divider-bottom-1725112114 .shape-fill {
  fill: #ffffff;
}

.recipeBookIcon {
  width: 120px;
  aspect-ratio: 1/1;
}

.recipe-background {
  position: absolute;
  width: 50%;
  aspect-ratio: 1/1;
  z-index: -1;
  margin: -3rem -1rem;
  background-color: #0a2343;
  border-radius: 79% 21% 70% 30% / 30% 74% 26% 70%;
}

.recipeVideo {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  aspect-ratio: 16 / 9;
}

.absolutePosition {
  position: absolute;
}

.fixedPosition {
  position: fixed;
  z-index: 999;
  top: 10px;
  width: max-content;
  height: max-content;
}

@media screen and (max-width: 436px) {
  .recipeBookIcon {
    width: 65px;
  }

  .recipeVideo {
    width: 100%;
  }

  .absolutePosition {
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .fixedPosition {
    width: 92.471%;
    aspect-ratio: 16 / 9;
  }
}
